<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
        
    </head>
    <body>
        
        <header th:fragment="header">
            <style type="text/css">
                ul.menulist {
                    overflow:hidden;
                    white-space:nowrap; 
                    height: 1em;
                    width: 100%;
                    padding-bottom: 0.5em;
                }
                ul.menulist li {  display: inline; }
                ul.menulist li:not(:first-child):before {
                    content: " | ";
                }
            </style>
            <ul class ="menulist">
                <li th:unless="${#httpServletRequest.remoteUser}">Viewing as guest </li>
                <li th:if="${#httpServletRequest.remoteUser}">Logged in as <span th:text="${#httpServletRequest.remoteUser}">[[${#httpServletRequest.remoteUser}]]</span>
                    <span sec:authentication="principal.authorities">[USER, ADMIN] </span>
                </li>
                <li><a th:href="@{/form}">sign up</a></li>
                <li th:unless="${#httpServletRequest.remoteUser}"><a th:href="@{/login}">login</a></li>
                <li sec:authorize="hasAuthority('USER')"><a th:href="@{/view}">view signups</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/view?edit}">edit signups</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/users}">list users</a></li>
                <li th:if="${#httpServletRequest.remoteUser}"><form th:action="@{/logout}" method="post" style="display: inline;"><input type="submit" value="logout"/></form></li>
            </ul>
            <hr style="clear: both;"/>
        </header>
    </body>
</html>
