<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrations</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <h1>Editable event registration list</h1>
        <table>
            <tr><th>Name</th><th>Address</th></tr>
            <tr th:each="signup : ${signups}">
                <td th:text="${signup.name}">Name</td>
                <td th:text="${signup.address}">Address</td>
            </tr>
        </table>
    </body>
</html>

