<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrations</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <h1>Event registration list</h1>
        <ul>
            <li th:each="signup : ${signups}" class="editlist">
                    <div style="overflow: hidden; padding-right: .5em;">
                        <span style="width: 100%"><span th:text="${signup.name}">Name</span>, <span th:text="${signup.address}">Address</span></span>
                    </div>
            </li>
        </ul>
    </body>
</html>

