<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrations</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <h1>Event registration list</h1>
        <ul>
            <li th:each="signup : ${signups}">
                <form th:if="${param.edit}" th:action="@{/view/{id}(id=${signup.getId()})}" th:method="DELETE" style="display: inline;">
                    <input type="submit" value="Delete" />
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
                <span style="width: 100%"><span th:text="${signup.name}">Name</span> &lt;<span th:text="${signup.address}">Address</span>&gt;</span>
            </li>
        </ul>
    </body>
</html>

